/*
- float:left/right - clear:both
- position:absoute/relative/fixed/static(기본값) - z-index:999;
- width:100%; max-width:1200px; margin:auto;
*/
.wrap {width:100%; max-width:1400px; margin:auto;}
/***** tops *****/
.tops {padding: 8px 16px; box-shadow:0 4px 8px rgba(0,0,0,0.3); 
	width: 100%; top: 0; left:0; position: fixed; background-color: rgba(255,255,255, 1); z-index:100 ;}
/* box-shadow: 좌우 상하 퍼짐정도 컬러 */
.logo {float: left; padding: 10px; letter-spacing: 4px; cursor: pointer;}
.navs {float: right;}
.nav {float: left; padding: 10px; letter-spacing: 4px; cursor: pointer;}
.logo:hover {background-color: #ccc;}
.nav:hover {background-color: #ccc;}

/***** bans *****/
.bans {position: relative;}
.ban_tit {color:#555; font-size:300%; position: absolute; bottom:50px; left:50px;}

/***** abouts *****/
.abouts {margin: 100px auto; width: 100%; max-width: 1000px;}
.about_img {width: 50%; float: left; padding: 1%; opacity: 0.7;}
.about_img:hover {opacity: 1;}
.about_conts {width: 50%; float: right; padding: 1%;}
.about_conts > h1 {text-align: center; padding: 20px 10px;}
.about_conts > h4 {text-align: center; padding: 10px;}
.about_conts > .p1 {padding: 10px; font-size:18px; line-height: 180%;}
.about_conts > .p2 {color: #999; padding: 10px; font-size:18px; line-height: 180%;}

/***** menus *****/
.menus {width: 100%; max-width: 1000px; margin: 100px auto;}
.menu_conts {float: left; width: 50%; padding: 1%;}
.menu_img {float: right; width: 50%; padding: 1%; opacity: 0.7;}
.menu_img:hover {opacity: 1;}

