/* 
선택자(Selector) 
	
1. 같은 명령이 중복됐을때 우선순위 
id(#) > class(.) > tag
		
예시)
div {} 
div > div {}
#box2 {}
div.wrap > * {}
ul.wrap > * {}
div.wrap > div {}
div.wrap > div.box {}
.wrap > #box2 {}
div.wrap > div.box#box2 {color: #333}
#box2 {}

:nth-child(3)
:first-child
:last-child
*/

html, body {font-size:36px;}

#wrap1 > div {color: #f00;}
.wrap > .box {color: #0f0;}

.box {border:2px solid #f00;}
#box4 {border:2px solid #00f;}
.wrap2 > .box {border:2px solid #0f0;}

#wrap3 > :nth-child(4) {color:#f90;}